body {
    background-image: url(pic/pattern.png);
    background-repeat:repeat;
    margin: 0;
    padding-top: 107px;
    font-family:'Berkshire Swash', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
    background-color: rgb(34, 2, 2);
    color: rgb(255, 255, 255);
    text-align: center;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    transition: background-color 0.5s ease;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    z-index: 1000;
}
@font-face {
    font-family: 'Berkshire Swash';
    src: url('fonts/BerkshireSwash-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


nav a {
    color: rgb(226, 180, 43);
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: rgb(255, 106, 0);
}

header img {
    height: 60px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    display: inline-block;
    text-align: left;
    margin-right: 30px;
}
h2 {
    background-color:rgb(0, 0, 0);
    margin-left:20px;
    margin-right:20px;
    padding-left:2em;
    padding-top :10px;
    padding-bottom:10px;
    text-align:center;
    border-radius: 20px;
    outline: 2px solid #ffc766;
}

h4 {
    color:yellow;
    background-color:black;
    border-color:yellow;
    margin-left:10px;
    margin-right:1250px;
    text-align:center;
    padding-top:1em;
    padding-bottom:1em;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    padding-top:10px;
}

h1,
h2,
h4,
p {
    color: white;
}
a{
    text-decoration: none;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    align-items:center;
    margin:50px 0;
}

.content {
    width:20%;
    margin:15px;
    box-sizing:border-box;
    float:left;
    text-align:center;
    border-radius:20px;
    cursor: pointer;
    padding-top:10px;
    box-shadow:0 14px 28px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background:#f2f2f2;
    outline: 2px solid #ffc766;
}

.content:hover{
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0,0.23);
    transform:translate(0px, -8px);
}

img {
    width:200px;
    height:200px;
    text-align:center;
    margin:0 auto;
    display:block;
}

p{
    text-align:center;
    color:#b2bec3;
    padding: 0 8px;
}
button{
    text-align:center;
    font-size:24px;
    color:#fff;
    width:100%;
    padding:15px;
    border:1px;
    outline:none;
    cursor:pointer;
    margin-top:5px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius: 20px;
    border-color: yellow;
    background-color:black;
}



html {
    scroll-behavior:smooth;
}
.back-top {
    position:fixed;
    bottom:2rem;
    right:2rem;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    background-color:black;
    border-radius:0.5rem;
    padding:0.5rem;
    text-decoration:none;
    transition:0.2s ease-out;
}

.back-top span{
    color:white;
    transition:0.2s ease-out;
    font-size:3rem;
}

.back-top:hover{
    background-color:red;
}
footer {
    background-color: #000000;
    padding: 20px;
    color: #ffffff; /* Text color */
    margin-top: 80px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media {
    color: #fff;
}

.social-link {
    text-decoration: none;
    margin-right: 10px;
    color: #fff; /* Social media link color */
}

.contact-info {
    color: #fff;
}

/* Style the copyright text */
footer small {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #999; /* Footer text color */
}

  footer div a {
    text-decoration: none;
    color:white;
  }

  /* Example CSS to style the footer */
.footer-content {
    display: flex;
    justify-content: space-between;
}

.social-media a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffffff; /* Adjust the color as needed */
    padding: 5px;
    font-size: 16px;
}

.social-media a img {
    width: 32px; /* Adjust the image size as needed */
    height: 32px;
    padding: 5px;
}
*{
    scrollbar-width: auto;
    scrollbar-color: #ffc766 #571414;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #440f0f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffc766;
    border-radius: 10px;
    border: 3px solid #8f7a0f;
  }
